@font-face 
    font-family: 'Roboto Slab'
    src: url('../fonts/RobotoSlab-Regular.eot')
    src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoSlab-Regular.woff2') format('woff2'), url('../fonts/RobotoSlab-Regular.woff') format('woff'), url('../fonts/RobotoSlab-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
    font-display: swap


@font-face 
    font-family: 'Roboto Slab'
    src: url('../fonts/RobotoSlab-Bold.eot')
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoSlab-Bold.woff2') format('woff2'), url('../fonts/RobotoSlab-Bold.woff') format('woff'), url('../fonts/RobotoSlab-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'Montserrat'
    src: url('../fonts/Montserrat-Bold.eot')
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: normal
    font-display: swap


@font-face 
    font-family: 'Montserrat'
    src: url('../fonts/Montserrat-Regular.eot')
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
    font-display: swap



@import helper/vars
@import helper/mixins

@import components/header
@import components/footer

html 
    font-size: 14px
    font-family: "Roboto Slab"
    line-height: 1.5em

.wrapper 
    margin: 0 auto
    width: 72%

section 
    padding: 100px 0

header
    .header-content 
        .header-star
            margin-bottom: 0
            font-size: 16px
            font-family: "Montserrat" 

.section-title
    padding-bottom: 70px 
    h2 
        margin-bottom: 30px
        font-size: 20px
        color: $primary-text-color
        font-weight: 400
        font-family: "Montserrat"
        &::before
            content: ""
            position: absolute
            left: 50%
            bottom: -15px
            width: 50px
            height: 2px 
            transform: translateX(-50%)
            background: $primary-text-color
    p,
    ul a 
        font-size: 16px
        color: $primary-text-color
        font-weight: 400
        font-family: "Roboto Slab"
    ul 
        list-style: none
        li 
            margin-right: 3%
            &:last-child
                margin: 0
        a 
            text-decoration: none
            &:hover 
                color: #c0301c


.services-cards 
    img 
        margin-bottom: 30px
    .services-name 
        color: $primary-text-color
        font-weight: 400
        font-family: "Montserrat"
    .services-text 
        color: $primary-text-color
        font-weight: 400
        font-family: "Roboto Slab"

.about-us
    background-color: #f8f8f8
    .about-us-text 
        color: $primary-text-color
        font-weight: 400
        font-family: "Roboto Slab"
    .about-us-img 
        position: relative
        padding-top: 70px        
        text-align: center
        .men-img 
            display: flex
            overflow: hidden
            transition: all 0.5s ease
        .about-us-arrow-left,
        .about-us-arrow-right 
            position: absolute
            top: 50%
            width: 35px
            height: 40px
            background: #c7c7c7
            transform: translate(0, -50%)
            &:hover
                background: #c0301c
        .about-us-arrow-left 
            left: 15px
        .about-us-arrow-right
            right: 15px
        .man 
            padding: 0 15px
            flex: 0 0 25%
        .man-img
            img 
                margin-bottom: 20px
                width: 100%
            .about-us-name 
                margin-bottom: 15px
            .about-us-work
                color: $primary-text-color
                font-weight: 400
                font-family: "Roboto Slab"
.cards 
    display: flex
    flex-wrap: wrap
    .card-work 
        position: relative
        margin: 15px
        flex: 0 0 25%           
        span 
            position: absolute
            display: flex
            justify-content: center
            align-items: center
            overflow: hidden
            width: 100%
            height: 100%
            left: 0
            top: 0
            background: #c0301c
            color: #fff
            opacity: 0.8
        &:hover span 
            overflow: visible


.your-project
    font-family: "Roboto Slab"
    font-weight: 400
    color: #fff 
    background: #c0301c
    span 
        display: block
        margin-bottom: 50px    
    h3 
        font-size: 30px
        line-height: 44px        
    a 
        padding: 18px 28px
        font-size: 18px       
        font-family: "Roboto Slab"
        font-weight: 400



.up-scroll
    display: inline-block
    position: fixed
    right: 10vh
    bottom: 10vh
    z-index: 10
    a 
        display: inline-block
        padding: 19px
        width: 19px
        height: 19px
        background: #f8f8f8
        border: 3px solid #c0301c
        border-radius: 50%
        &:hover
            background: #fff
        .top-arrow
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            polyline 
                transform-origin: center
                transform:  rotate(180deg)

.blog-box
    article 
        display: flex
        justify-content: space-between
        margin-bottom: 40px
        padding-bottom: 40px
        border-bottom: 1px solid #ddd
    &:last-child article
        margin-bottom: 0
        padding-bottom: 0
        border-bottom: none
    .article-img
        width: 45%
        img
            width: 100%
    .article-info 
        position: relative
        width: 55%
        padding-left: 20px
        box-sizing: border-box
        p 
            font-size: 14px
            line-height: 24px
            color: #555
            font-weight: 400
            font-family: "Roboto Slab"
        a 
            font-size: 13px
            letter-spacing: 1px
            line-height: 24px
            color: #777
            font-weight: 700
            text-transform: uppercase
            font-family: "Roboto Slab"
            text-decoration: none
            &:hover
                color: #c0301c

    .article-header
        margin-bottom: 20px
        display: flex
        align-items: 
        .article-data 
            padding: 17px 20px
            font-size: 24px
            letter-spacing: 2px
            line-height: 20px
            color: #777
            text-align: center
            font-weight: bold
            border: 2px solid #555
            p 
                margin: 0
                font-weight: bold
        .article-title 
            padding: 15px 0
            margin-left: 25px
        h5
            margin-bottom: 19px
            font-size: 16px
            line-height: 24px
            color: #c0301c
            text-transform: uppercase
            font-weight: 400
            font-family: "Montserrat"
        p 
            margin: 0
            font-size: 13px
            line-height: 24px
            color: #777777
            font-weight: 400
            font-family: "Roboto Slab"
.blog-popup-info 
    overflow-y: scroll
    max-height: 400px
    background: #fff
.partner-quote
    text-align: center
    font-size: 18px
    line-height: 30px
    color: #555
    background: #f8f8f8
    .partners 
        padding-bottom: 70px
        img 
            margin-right: 60px
        &::last-child
            margin: 0
.quotes-box
    min-height: 120px  
    blockquote 
        display: none
    .points-box 
        span 
            display: inline-block
            margin-right: 5px
            width: 12px
            height: 12px
            border-radius: 50% 
            cursor: pointer

                    
.get-in-touch
    .form-info 
        display: inline-block
        width: 30%
        .form-info-block 
            margin-bottom: 38px
        h5 
            margin-bottom: 19px
            font-size: 14px
            text-transform: uppercase
            line-height: 30px
            color: #555
            font-family: "Myriad Pro"
        p 
            margin: 0
            font-size: 12px
            line-height: 20px
            color: #555
            font-weight: 400
            font-family: "Roboto Slab"
    .form-box 
        display: inline-block
        width: 70%
        .margin-left
            margin-left: 6%
        input 
            margin-bottom: 20px
            padding: 10px
            width: 47%
            font-size: 12px
            line-height: 20px
            color: #555
            font-weight: 400
            font-family: "Roboto Slab"
            text-transform: uppercase
            border: 1px solid #555
            border-radius: 0
            &:focus
                border-color: #c0301c
        .textarea 
            width: 100%
            textarea
                padding: 10px
                width: 100%
                height: 105px
                min-height: 100px
                max-height: 150px
                font-size: 12px
                line-height: 20px
                color: #555555
                font-weight: 400
                font-family: "Roboto Slab"
                text-transform: uppercase
                border: 1px solid #555
                border-radius: 0
                &:focus
                    border-color: #c0301c
                
.submit 
    input
        display: inline-block
        padding: 15px 35px
        width: 170px
        font-size: 12px
        letter-spacing: 1px
        line-height: 20px
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        background: transparent
        &:hover 
            color: white 
            background: #c0301c
    span 
        display: inline-block
        color: #c0301c
        margin-left: 5%
    p 
        display: inline-block 
        font-size: 12px
        line-height: 20px
        font-weight: 400
        font-family: "Roboto Slab"
z