footer.text-center
    .wrapper
        .footer-social.position-relative 
            img(src="#", alt="social network")
            img(src="#", alt="social network")
            img(src="#", alt="social network")
            img(src="#", alt="social network")
        p.copy &copy; 2015 Startup, Designed by ShapedTheme