header 
    .wrapper
        .top-menu 
            nav.navbar.navbar-expand-lg.d-flex.justify-content-between.flex-row
                a.navbar-brand(href='index.html') 
                    img(src="img/logo.png", alt="logo Startup")
                button.navbar-toggler.navbar-light.bg-light(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon.navbar-light
                #navbarText.collapse.navbar-collapse
                    .d-flex.justify-content-end.w-100
                        ul.navbar-nav.text-right
                            li.nav-item
                                a.nav-item.nav-link(href='#') Home
                            li.nav-item
                                a.nav-item.nav-link(href='#') Services
                            li.nav-item 
                                a.nav-item.nav-link(href='#') About
                            li.nav-item
                                a.nav-item.nav-link(href='#') Works 
                            li.nav-item
                                a.nav-item.nav-link(href='#') Blog
                            li.nav-item 
                                a.nav-item.nav-link(href='#') Clients 
                            li.nav-item 
                                a.nav-item.nav-link(href='#') Contact                      
        .header-content.text-center
            h2.text-uppercase Welcome to STARTUP
            p.mx-auto.font-italic Your Favourite Creative Agency Template
            p.header-start.btn-primary-a.text-uppercase.popup Get Started
            .popup-box
                .register.popup-info  
                    span.close-popup
                        span
                        span
                    h4 Registration
                    form 
                    label
                        input(type="text" maxlength="30" placeholder="Your Name")
                    label
                        input(type="text" maxlength="30" placeholder="Your E-mail")
                    label.margin-bottom
                        input(type="text" maxlength="30" placeholder="Your password")
                    label.submit
                        input(type="submit")