<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Startup official site
        link(rel="stylesheet", href="css/style.css")
    body
        include helper/vars
        include helper/mixins
        include components/header
        main 
            .up-scroll
            section.services.wrapper.text-center 
                .section-title
                    h2.underline.position-relative.text-uppercase Services
                    p We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
                .services-cards.row 
                        .col-4 
                            img(src="#", alt="services Clean Typography img letter A")
                            p.services-name.text-uppercase Clean Typography
                            p.services-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                        .col-4 
                            img(src="#", alt="services Rock Solid Code")
                            p.services-name.text-uppercase Rock Solid Code
                            p.services-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                        .col-4 
                            img(src="#", alt="services Expert Support img lifebuoy")
                            p.services-name.text-uppercase Expert Support
                            p.services-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            section.about-us 
                .wrapper
                    .section-title.text-center
                            h2.underline.position-relative.text-uppercase About us
                            p We offer ipsum dolor sit amet, consetetur sadipscing elitr amet        
                    .about-us-text.row
                        p.col-6 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
                        p.col-6 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.       
                    .about-us-img.text-center.row
                        .man-1.col-3
                            .man-img 
                                img(src="img/about-us-man-1.jpg", alt="man 1")
                            p.about-us-name Md. Khalil Uddin
                            p.about-us-work Head of Ideas
                        .man-2.col-3
                            .man-img 
                                img(src="img/about-us-man-2.jpg", alt="man 2")
                            p.about-us-name Rubel Miah
                            p.about-us-work Lead WordPress Developer
                        .man-3.col-3
                            .man-img 
                                img(src="img/about-us-man-3.jpg", alt="man 3")
                            p.about-us-name Shamim Mia
                            p.about-us-work Sr. Web Developer
                        .man-4.col-3
                            .man-img 
                                img(src="img/about-us-man-4.jpg", alt="man 4")
                            p.about-us-name John Doe
                            p.about-us-work Front-end Developer
            section.latest-works.wrapper
                .section-title.text-center
                    h2.underline.position-relative.text-uppercase Latest Works
                    ul
                        li.d-inline-block
                            a.filter-word(href="#") All
                        li.d-inline-block
                            a.filter-word(href="#") Branding 
                        li.d-inline-block
                            a.filter-word(href="#") Design
                        li.d-inline-block
                            a.filter-word(href="#") Development
                        li.d-inline-block
                            a.filter-word(href="#") Strategy  
                .cards
                    +card("img/card1.jpg", "card1", "Hair Dresser", "Branding", "#")
                    +card("img/card2.jpg", "card2", "Hair Dresser", "Design", "#")
                    +card("img/card3.jpg", "card3", "Hair Dresser", "Development", "#")
                    +card("img/card4.jpg", "card4", "Hair Dresser", "Strategy", "#")
                    +card("img/card5.jpg", "card5", "Hair Dresser", "Strategy", "#")
                    +card("img/card6.jpg", "card6", "Hair Dresser", "Design", "#")
                    +card("img/card7.jpg", "card7", "Hair Dresser", "Development", "#")
                    +card("img/card8.jpg", "card8", "Hair Dresser", "Design", "#")
                    +card("img/card9.jpg", "card9", "Hair Dresser", "Branding", "#")                   
            section.your-project 
                .wrapper.text-center 
                    span 
                        h3 Do you like OUR WORK so far?
                        h3 Let's talk about YOUR PROJECT!
                    a.get-in-touch-a.btn-primary-a.text-uppercase(href="#") Get in Touch
            section.blog.wrapper
                .section-title.text-center
                    h2.underline.position-relative.text-uppercase Recent blog posts
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                .blog-box
                    article
                        .article-img 
                            img(src="img/blog-img1.jpg", alt="blog img")
                        .article-info
                            .article-header
                                .article-data 
                                    span 18
                                    p oct
                                .article-title 
                                    h5 Startup ideas needs to be funded 
                                    p By Khalil Uddin in  Development 
                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 
                            a(href="#") Read more                             
                    article
                        .article-img 
                            img(src="img/blog-img2.jpg", alt="blog img")
                        .article-info
                            .article-header
                                .article-data 
                                    span 18
                                    p oct
                                .article-title 
                                    h5 User Interface Designing Elements 
                                    p By Khalil Uddin in  Development 
                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor idunt ut labore et dolore aliquyam 
                            a(href="#") Read more 
            section.partner-quote
                .partners
                    img(src="img/partner1.png", alt="our partners")
                    img(src="img/partner2.png", alt="our partners")
                    img(src="img/partner3.png", alt="our partners")
                    img(src="img/partner4.png", alt="our partners")
                    img(src="img/partner5.png", alt="our partners")
                .quotes-box
                    blockquote.quote
                        p Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        p Temporibus autem quibusdam et aut officiis debitis aut rerum”
                        cite John Doe Google Inc.
                    blockquote.quote
                        p Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        cite John Doe
                    blockquote.quote
                        p Temporibus autem quibusdam et aut officiis debitis aut rerum”
                        cite Google Inc.
                    .points-box
            section.wrapper.get-in-touch
                .section-title.text-center
                    h2.underline.position-relative.text-uppercase Get in touch
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                .form-info 
                    .form-info-block
                        h5 Address
                        p 312, 7th Ave, New York
                        p NY 101200, United States of America
                    .form-info-block
                        h5 Hotline (24x7)
                        p +65 0052 300, +65 88251 210
                        p +88 01723 511 340
                    .form-info-block
                        h5 E-mail
                        p shapedtheme@gmail.com
                        p khalilkode@gmail.com       
                .form-box 
                    form(action="#") 
                        span
                            lebel(for="#")
                                input(type="text" maxlength="30" placeholder="Your name")
                            lebel.margin-left(for="#")
                                input(type="text" maxlength="30" placeholder="Your E-mail")
                        span 
                            lebel(for="#")
                                input(type="text" maxlength="30" placeholder="Your subject")
                            lebel.margin-left(for="#")
                                input(type="text" maxlength="30" placeholder="Company name")
                        label.textarea(for="#")
                            textarea(maxlength="150" placeholder="Write your message")
                        label(for="#").submit
                            input(type="submit" value="Send message")
                            span * 
                            p We’ll contact you as as possible. We don’t reply on Monday.
        include components/footer
        script(src="js/scripts.js")