mixin card(src, alt, name, description, href, filter)
    .card-work(class= filter)
        img(src= src, alt= alt)
        span 
            p= name
            p.description= description
            a(href= href) See more